{% extends 'base.twig' %}

{% block title %}

    <title>Accueil</title>


{% endblock %}


{% block contenue %}

    <form action="/?ajout_de_dossier" method="get">
        <label for="dossier"></label>
        <input type="text" name="dossier">
        <input type="submit">
    </form>
{% endblock %}


